<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Access -Denied </title>
</head>

<body>
	<div class="container">
		<div style="height: 25px text-align:center; margin-top: 50px; margin-left : 100px"
			class="card  text-white ">
			<div class="card-header bg-danger">
				<h4>Access Denied or No sufficient right to access!</h4>
			</div>
			<div class="card-body text-dark">
				<br><br>
				<h3>You don't have access to requested page.<br> kindly contact
					system admin to get access.</h3>
			</div>
			<hr>
			<form action="#" th:action="@{/logout}" method="POST">
				<button type="submit" class="btn btn-primary btn-sm"
						onclick="if (!(confirm('Are you sure you want to Sign Out?'))) return false">
						Sign Out
				</button>
			</form>
		</div>
	</div>
</body>
</html>



