<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/guestBooklogin.css">
</head>
<body>
	<div class="container" align="center">
		<form>
			<div class="card"
				style="width: 400px; height: 450px; margin-top: 30px; border: 1px solid #cecece;"
				align="center">
				<div class="card-header bg-dark text-white"
					style="align-self: auto;">
					<h4>
						<b>Welcome Administrator</b>
					</h4>
				</div>
				<img class="card-img-top" src="/images/av2.jpg"
					style="max-width: 200px; margin-top: 30px; align-self: center;"
					alt="Card image">
				<div class="card-body" style="align-self: auto;">
					<h2>
						<span class="badge badge-info col-xl-4">[[${loggedinUserName}]]</span>
					</h2>
				</div>
				<div class="card-footer bg-dark text-white">
					<div class="align-self-center mx-auto">
						<a th:href="@{/admin/viewFeedbackAdmin}" class="btn btn-success">View
							Feedback</a> <a th:href="@{/logout}" class="btn btn-success">Sign
							Out</a>
					</div>
				</div>
			</div>
		</form>

	</div>
</body>
</html>